<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/internet_shop</property>
        <property name="hibernate.connection.username">maria</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <mapping class="ru.msu.internetshop.model.Category"/>
        <mapping class="ru.msu.internetshop.model.Manufacturer"/>
        <mapping class="ru.msu.internetshop.model.Product"/>
        <mapping class="ru.msu.internetshop.model.ProductAttribute"/>
        <mapping class="ru.msu.internetshop.model.Customer"/>
        <mapping class="ru.msu.internetshop.model.OrderStatus"/>
        <mapping class="ru.msu.internetshop.model.CustomerOrder"/>
        <mapping class="ru.msu.internetshop.model.OrderItem"/>
        <mapping class="ru.msu.internetshop.model.Delivery"/>
    </session-factory>
</hibernate-configuration>
